body {
    margin: 100px;
    background-color: #f5f5f5;
    
    
}




.card {
    width: 345px;
    height: 440px;
    background-color: #fff;
    background-size: cover;
    border-radius: 10px;


}
.card_top {
    padding: 16px;
    display: flex;
}
.card_top_icon {
    width: 40px;
    height: 40px;
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    border-radius: 50%;
    background-color: red;
}

.card_top_content_1 {
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}

.card_top_content_2 {
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}

.card_top_action {
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
}

.card_top_image {
    width: 345px;
    height: 194px;
    background-image: url(https://material-ui.com/static/images/cards/paella.jpg);
    background-size: cover;

}

.card_bottom {    
    padding: 16px;
}

.card_bottom_content {
    margin: 0;
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}

.card_foot {
    display: flex;
    padding: 8px;
    align-items: center;
}

.card_foot_heart {    
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    
}